@{
    var TermosDeUso =
        @"
        Estes são os termos de uso do sistema:
        - Todas as minhas possessões materiais serão entregues para o Diabo.
        - Todo o meu tempo será dedicado ao Capiroto.
        - Minha vida será entregue ao cara lá de baixo.
        ";
}

<div class="text-center">
    <h1>Terms of use</h1>
    <p>@TermosDeUso</p>
    <input type="checkbox"/>
</div>
